.list__item {
    color: white;
    border-radius: 6px;
    padding: 4px 8px;
}
.--active{
    background-color: black;
}

label {
    padding: 12px 8px;
    font-size: 20px;
    font-weight: 700;
    color: aqua;
}